.js-accordion {
  display: block; }
  .js-accordion .accordion-block, .js-accordion > .header, .js-accordion > .panel {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 25px;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }
    .js-accordion .accordion-block:not(:last-child), .js-accordion > .header:not(:last-child), .js-accordion > .panel:not(:last-child) {
      border-bottom: 1px solid #e4e6e5; }
  .js-accordion > .header {
    height: 60px;
    font-size: 18px;
    color: #333; }
  .js-accordion > .panel {
    flex-direction: column;
    overflow: hidden;
    transition: all 0.5s ease-in-out; }
    .js-accordion > .panel.with-description > .header {
      min-height: 70px; }
    .js-accordion > .panel > .header {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 50px; }
      .js-accordion > .panel > .header .text {
        width: calc(100% - 25px - 26px); }
        .js-accordion > .panel > .header .text .title {
          font-size: 14px;
          font-weight: bold;
          color: #0465ac;
          transition: font-size 0.5s ease-out; }
        .js-accordion > .panel > .header .text .description {
          margin-top: 12px;
          color: #999;
          font-size: 12px;
          font-weight: bold; }
      .js-accordion > .panel > .header .toggle {
        width: 26px;
        margin-left: 25px;
        flex-shrink: 0;
        cursor: pointer; }
        .js-accordion > .panel > .header .toggle .icon {
          transition: transform 0.25s ease-in;
          color: #0465ac; }
    .js-accordion > .panel > .content {
      width: 100%;
      height: 0;
      transition: all 0.5s ease-in-out; }
    .js-accordion > .panel.open {
      margin-top: 30px;
      margin-bottom: 30px; }
      .js-accordion > .panel.open > .header .text .title {
        font-size: 18px; }
      .js-accordion > .panel.open > .header .toggle .icon {
        transform: rotateZ(180deg); }
      .js-accordion > .panel.open > .content {
        margin-top: 12px;
        margin-bottom: 25px; }
      .js-accordion > .panel.open:not(.transitioning) > .content {
        height: auto !important; }
