$textColor: #333;
$textBlueColor: #0465ac;
$textMutedColor: #999;
$headerHeight: 60px;
$panelWithoutDescriptionHeight: 50px;
$panelWithDescriptionHeight: 70px;
$toggleWidth: 26px;
$toggleLeftMargin: 25px;
$padding: 25px;
$contentYMargin: 25px;
$yMargin: 30px;

.js-accordion {
	display: block;

	.accordion-block {
		display: flex;
		width: 100%;
		align-items: center;
		padding: {
			left: $padding;
			right: $padding;
		}
		background-color: white;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
		&:not(:last-child) {
			border-bottom: 1px solid #e4e6e5;
		}
	}

	> .header {
		@extend .accordion-block;
		height: $headerHeight;
		font: {
			size: 18px;
		}
		color: $textColor;
	}

	> .panel {
		@extend .accordion-block;
		flex-direction: column;
		overflow: hidden;
		transition: all 0.5s ease-in-out;
		&.with-description {
			> .header {
				min-height: $panelWithDescriptionHeight;
			}
		}

		> .header {
			display: flex;
			align-items: center;
			width: 100%;
			min-height: $panelWithoutDescriptionHeight;
			.text {
				width: calc(100% - #{$toggleLeftMargin} - #{$toggleWidth});
				.title {
					font: {
						size: 14px;
						weight: bold;
					}
					color: $textBlueColor;
					transition: font-size 0.5s ease-out;
				}
				.description {
					margin-top: 12px;
					color: $textMutedColor;
					font: {
						size: 12px;
						weight: bold;
					}
				}
			}
			.toggle {
				width: $toggleWidth;
				margin-left: $toggleLeftMargin;
				flex-shrink: 0;
				cursor: pointer;
				.icon {
					transition: transform 0.25s ease-in;
					color: $textBlueColor;
				}
			}
		}
		> .content {
			width: 100%;
			height: 0;
			overflow: hidden;
			transition: all 0.5s ease-in-out;
		}

		&.open {
			margin: {
				top: $yMargin;
				bottom: $yMargin;
			}
			> .header {
				.text .title {
					font-size: 18px;
				}
				.toggle .icon {
					transform: rotateZ(180deg);
				}
			}
			> .content {
				margin: {
					top: 12px;
					bottom: $contentYMargin;
				}
			}
		}
	}
}
